<?xml version="1.0" encoding="UTF-8"?>
<dataconv>
    <package_id>mysql2mongodb</package_id>
    <X-CKAN-API-KEY>05f9b35c-a344-45a8-8fea-78c1c6bca861</X-CKAN-API-KEY>
    <mysql>
        <host>mysql</host>
        <username>root</username>
        <password>password</password>
        <port>3306</port>
    </mysql>
    <datastore>
        <host>datastore</host>
        <username>admin</username>
        <password>password</password>
        <port>27017</port>
    </datastore>
</dataconv>
